windows/visualstudio/x64
windows/visualstudio/Win32
windows/visualstudio/.vs
windows/starcraft
*.sdf
*.suo
*.opensdf
*.dll
*.o
*.pd_
*.bwta
*.db
*.ipch
*.opendb
*.db-shm
*.db-wal
*.zip
*.iobj
*.ipdb
*.map
*.pdb
*.ilk
*.ERR
bin/StarterBot_d.exe
